@import "tailwindcss";

@theme {
  --color-accent: #e6e6e6;
  --color-secondary: #ffffff;
  --color-dark: #060606;
  --color-back: #fcfcfc;
}

body {
  @apply bg-gray-100 p-6 text-dark;
}

.container {
  @apply max-w-[1280px] px-[10px] my-0 mx-auto;
}

.boxShadow {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}
