@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "tailwindcss";

@theme {
  --color-accent: #e6e6e6;
  --color-secondary: #ffffff;
  --color-dark: #060606;
  --color-back: #fcfcfc;
}

body {
  @apply bg-gray-100 p-6 text-dark;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  @apply max-w-[1280px] px-[10px] my-0 mx-auto;
}

.boxShadow {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

.darkBack {
  background-color: rgba(52, 52, 52, 0.7);
}

.rotate {
  animation: 0.8s forwards rotate;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
